.idea/vcs.xml
.ipynb_checkpoints/BradyBunch-checkpoint.ipynb
.ipynb_checkpoints/Capestone-checkpoint.ipynb
.ipynb_checkpoints/Drill Exploring CLT-checkpoint.ipynb
.ipynb_checkpoints/Ideal Job-checkpoint.ipynb
.ipynb_checkpoints/Ideal Job_temp-checkpoint.ipynb
.ipynb_checkpoints/Olympic_Data-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Career/Ideal_Job.ipynb
Career/John_Career.xlsx
Challenge_U2_L5_P2.ipynb
PrepCourse/.ipynb_checkpoints/Basics in Probability Drill-checkpoint.ipynb
PrepCourse/.ipynb_checkpoints/BradyBunch-checkpoint.ipynb
PrepCourse/.ipynb_checkpoints/Drill Exploring CLT-checkpoint.ipynb
PrepCourse/.ipynb_checkpoints/Drill_Descriptive-checkpoint.ipynb
PrepCourse/.ipynb_checkpoints/Ideal Job-checkpoint.ipynb
PrepCourse/.ipynb_checkpoints/Olympic_Data-checkpoint.ipynb
PrepCourse/.ipynb_checkpoints/dash_app-checkpoint.py
PrepCourse/Basics in Probability Drill.ipynb
PrepCourse/Bays.md
PrepCourse/BradyBunch.ipynb
PrepCourse/BradyBunch.md
PrepCourse/Brady_Data.py
PrepCourse/Capstone/.ipynb_checkpoints/Capestone-checkpoint.ipynb
PrepCourse/Capstone/.ipynb_checkpoints/Capestone_old-checkpoint.ipynb
PrepCourse/Capstone/.ipynb_checkpoints/winemag-data_first150k-checkpoint.csv
PrepCourse/Capstone/Capestone.ipynb
PrepCourse/Capstone/Capestone_old.ipynb
PrepCourse/Capstone/winemag-data_first150k.csv
PrepCourse/Drill Exploring CLT.ipynb
PrepCourse/Drill_Descriptive.ipynb
PrepCourse/Evaluating Data Sources.md
PrepCourse/Monty Hall.md
PrepCourse/Olympic_Data.ipynb
PrepCourse/README.md
PrepCourse/Untitled.ipynb
PrepCourse/aws.pem
PrepCourse/connect.sh
PrepCourse/dash_app.py
PrepCourse/tree1.png
Unit_1/.gitignore
Unit_1/.ipynb_checkpoints/1.4.11+Experimentation+Guided+Example-Copy1-checkpoint.ipynb
Unit_1/.ipynb_checkpoints/Aggregating_Drill-checkpoint
Unit_1/.ipynb_checkpoints/Capstone_Unit_1-checkpoint.ipynb
Unit_1/.ipynb_checkpoints/Example_AB_T_Test-checkpoint.ipynb
Unit_1/.ipynb_checkpoints/Honey-checkpoint.ipynb
Unit_1/.ipynb_checkpoints/Lesson_1_Drill_WCDSD-checkpoint.ipynb
Unit_1/.ipynb_checkpoints/Plotly_examples-checkpoint.ipynb
Unit_1/.ipynb_checkpoints/SQL_Basics_Drill-checkpoint
Unit_1/.ipynb_checkpoints/Unit_1_Capstone-checkpoint.ipynb
Unit_1/.ipynb_checkpoints/athlete_events-checkpoint.csv
Unit_1/.ipynb_checkpoints/challenge_U1_L3_P6-checkpoint.ipynb
Unit_1/.ipynb_checkpoints/challenge_U1_L4_P4-checkpoint.ipynb
Unit_1/.ipynb_checkpoints/drill_U1_L3_P3-checkpoint.ipynb
Unit_1/.ipynb_checkpoints/drill_U1_L4_P1-checkpoint.ipynb
Unit_1/.ipynb_checkpoints/drill_U1_L4_P3-checkpoint.ipynb
Unit_1/.ipynb_checkpoints/drill_U1_L4_P5-checkpoint.ipynb
Unit_1/.ipynb_checkpoints/honey_q1-checkpoint
Unit_1/.ipynb_checkpoints/honeyproduction-checkpoint.csv
Unit_1/.ipynb_checkpoints/mlflow_install-checkpoint.ipynb
Unit_1/.~lock.51_agro.csv#
Unit_1/1.4.11+Experimentation+Guided+Example-Copy1.ipynb
Unit_1/51_agro.csv
Unit_1/ABB/.ipynb_checkpoints/U1_L3_PlotExample-checkpoint.ipynb
Unit_1/ABB/.ipynb_checkpoints/creat_calander-checkpoint
Unit_1/ABB/.ipynb_checkpoints/most_expensive-checkpoint
Unit_1/ABB/U1_L3_PlotExample.ipynb
Unit_1/ABB/calendar.csv
Unit_1/ABB/creat_calander
Unit_1/ABB/create_reviews
Unit_1/ABB/listings.csv
Unit_1/ABB/load_calendar
Unit_1/ABB/most_expensive
Unit_1/ABB/popular_month
Unit_1/ABB/reviews.csv
Unit_1/Aggregating_Drill
Unit_1/BikeShare/.DS_Store
Unit_1/BikeShare/.ipynb_checkpoints/CTE_example-checkpoint
Unit_1/BikeShare/.ipynb_checkpoints/Drill_1-checkpoint
Unit_1/BikeShare/.ipynb_checkpoints/Drill_2-checkpoint
Unit_1/BikeShare/.ipynb_checkpoints/Drill_3-checkpoint
Unit_1/BikeShare/.ipynb_checkpoints/L5_D4-checkpoint
Unit_1/BikeShare/.ipynb_checkpoints/SQL_Basics_Drill-checkpoint
Unit_1/BikeShare/.ipynb_checkpoints/example-checkpoint
Unit_1/BikeShare/.ipynb_checkpoints/join_example-checkpoint
Unit_1/BikeShare/.ipynb_checkpoints/stations-checkpoint.sql
Unit_1/BikeShare/.ipynb_checkpoints/untitled-checkpoint.txt
Unit_1/BikeShare/
Unit_1/51_agro.csv
Unit_1/athlete_events.csv
Unit_1/experiment_data_2_wks.csv
Unit_1/my_barplot.html
Unit_2/51_agro.csv

Unit_3/R_Forest/LoanStats3d.csv
Unit_3/Supervised_potpourri/creditcard.csv
Unit_3/Supervised_potpourri/2008.csv

Unit_4/results.csv
Unit_4/results.txt
